@import 'nib'

global-reset()

body
  font-family 'Raleway', sans-serif

h1
  font-size 2em
  margin 10px 0

.tx + .tx
  margin-top 10px

.tx-feed
  padding 20px
  width 500px

.high-roller
  color #00B300
  font-weight bold
  font-size 1.1em

.satoshis
  float right

.tx
  opacity 0
  animation-name fadeIn
  animation-duration 0.4s
  animation-fill-mode forwards

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
