@import 'nib'

global-reset()

*
  box-sizing border-box

.tx-feed
  padding 20px
  width 500px
  font-family 'Raleway', sans-serif

.tx-title
  font-size 2em
  margin 15px 0

.tx + .tx
  margin-top 15px

.high-roller
  color #00B300
  font-weight bold
  font-size 1.1em

.satoshis
  float right

.tx
  opacity 1
  transition opacity 0.3s ease

for num in (1..10)
  .fade-{num}
    opacity (1 - (num / 10))
