@import 'nib'

global-reset()

body
  font-family 'Raleway', sans-serif

h1
  font-size 2em
  margin 10px 0

li + li
  margin-top 10px

.tx-feed
  padding 20px
  width 450px

.high-roller
  color #00B300
  font-weight bold
  font-size 1.1em

.satoshis
  float right
